version: 2.1

orbs:
  git-shallow-clone: riskified/git-shallow-clone@2.8.0

executors:
  dotnet-executor:
    resource_class: riskified/container-agent
    docker:
      - image: 284309667046.dkr.ecr.us-east-1.amazonaws.com/riskified/images-library/dotnet-sdk:master-10.0

jobs:
  build:
    executor: dotnet-executor
    working_directory: ~/RiskifiedSDK
    steps:
      - run:
          name: "Install packages"
          command: apt-get update && apt-get install -y zip unzip openssh-client
      - git-shallow-clone/checkout:
          depth: 1
      - run:
          name: "Dotnet version"
          command: dotnet --version
      - run:
          name: "Downloading project dependencies"
          command: dotnet restore Riskified.SDK/Riskified.SDK.csproj
      - run:
          name: "Build and release binaries"
          command: dotnet build -c Release Riskified.SDK/Riskified.SDK.csproj
      - run:
          name: "Nuget pack"
          command: dotnet pack ~/RiskifiedSDK/Riskified.SDK/Riskified.SDK.csproj
      - persist_to_workspace:
          root: .
          paths:
            - "./*/bin/Release/Riskified.SDK.*.nupkg"
  deploy:
    executor: dotnet-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publishing to Nuget"
          command: dotnet nuget push Riskified.SDK.*.nupkg --api-key $nugetSecret -source https://api.nuget.org/v3/index.json

workflows:
  build_and_deploy:
    jobs:
      - build
      - hold_on_deploy:
          type: approval
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            braches:
              ignore: /.*/
      - deploy:
          requires:
            - hold_on_deploy
          filters:
            tags:
              only: /^v.*/
            braches:
              ignore: /.*/
