version: 2.1

jobs:
  build:
    resource_class: riskified/container-agent
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:10.0
      
    working_directory: ~/RiskifiedSDK
    steps:
      - run: 
          name: "Install packages"
          command: apt-get update && apt-get install -y zip unzip openssh-client
      - checkout
      - run: 
          name: "Dotnet version"
          command: dotnet --version
      - run: 
          name: "Downloading project dependencies"
          command: dotnet restore Riskified.SDK/Riskified.SDK.csproj
      - run: 
          name: "Build and release binaries"
          command: dotnet build -c Release Riskified.SDK/Riskified.SDK.csproj
      - run: 
          name: "Nuget pack"
          command: dotnet pack ~/RiskifiedSDK/Riskified.SDK/Riskified.SDK.csproj
      - run: ls
      - persist_to_workspace:
          root: .
          paths:
           - "**/Riskified.SDK.*.nupkg"
      
  deploy:
    resource_class: riskified/container-agent
    docker: 
      - image: mcr.microsoft.com/dotnet/sdk:10.0
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publishing to Nuget"
          command: dotnet nuget push Riskified.SDK.*.nupkg --api-key $nugetSecret -source https://api.nuget.org/v3/index.json
      
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - hold_on_deploy: 
          type: approval
          requires:
          - build
      - deploy:
          requires:
            - hold_on_deploy
          filters:
            branches:
              only: master
