<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <add key="NotificationsWebhookUrl" value="http://192.168.1.236:4000/notifications/"/>
      <add key="MerchantDomain" value="test.pass.com"/>
      <add key="MerchantAuthenticationToken" value="1388add8a99252fc1a4974de471e73cd"/>
      <add key="RiskifiedOrderWebhookUrl" value="http://192.168.1.32:3000/webhooks/merchant_order_created"/>
    </appSettings>
</configuration>

<!--
"[http/https]://[your url here]:[your port here]/[your webhook path]/"
"[your shop domain as registered to riskified]"
"[Your authentication token string]"
"[Riskified url for sending orders to]"
"test.pass.com"
"http://192.168.1.236:4000/notifications/"
"http://192.168.1.32:3000/webhooks/merchant_order_created"
"1388add8a99252fc1a4974de471e73cd"
"http://sandbox.riskified.com/webhooks/merchant_order_created"
-->
