<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="NotificationsWebhookUrl" value="[http/https]://[your url here]:[your port here]/[your webhook path]/"/>
    <add key="MerchantDomain" value="[your shop domain as registered to riskified]"/>
    <add key="MerchantAuthenticationToken" value="[Your authentication token string]"/>
    <add key="RiskifiedEnvironment" value="[Debug/Sandbox/Production]"/>
    <add key="DebugRiskifiedHostUrl" value="[RiskifiedDebugUrl - remove this setting]"/>
  </appSettings>
</configuration>

